/***** General style *****/
body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  background: white;
  text-align: center;
}

.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 20px;
  font-size: 30px;
}

/***** SVG *****/
.x-label {
  font-size: 16px;
  text-anchor: middle;
}

.y-label {
  font-size: 16px;
  text-anchor: middle;
}

/***** Loader *****/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3d5c94; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/***** Buttons *****/
.small_button {
  width: 42px;
  height: 42px;
  margin-left: 8px;
  margin-top: 8px;
  padding: 0px;
  float: right;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #ccc;
}

button img {
  height: 10px;
}


/* Input Forms */
.input_form {
  text-align: left;
  color: #000000;
  margin-left: 64px;
  margin-bottom: 64px;
  margin-right: 64px;
}

.input_form h1{
  font-size: 30px;
}

.input_form div{
  overflow: hidden;
}

.input_form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #d0d0d0;
}

.input_form input[type=submit] {
  background-color: #3d5c94;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  font-size: 16px;
  cursor: pointer;
  margin-inline-end: 20px;
}



/* Header */
header{
  background: #3d5c94;
  color: #ffffff;
  padding-top: 15px;
  height: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
  font-family: Ubuntu, Arial;
}

header h1{
  font-size: 30px;
  margin: 0;
  padding: 0;
  float: left;
}

header a{
  color: #e2e2e2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  display: inline;
  padding: 0 20px 0 20px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #e2e2e2;
  font-weight: bold;
}

header a:hover{
  color: #fff;
  font-weight: bold;
}
