/***** General style *****/
body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  background: white;
  text-align: center;
}

.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 20px;
  font-size: 30px;
}

/***** SVG *****/
.x-label {
  font-size: 16px;
  text-anchor: middle;
}

.y-label {
  font-size: 16px;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}

.chartTitle {
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle; 
}

.axis .title {
  font-weight: bold;
  text-anchor: middle;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.nav .area {
  fill: lightgrey;
  stroke-width: 0px;
}

.nav .line {
  fill: none;
  stroke: darkgrey;
  stroke-width: 1px;
}

.viewport {
  stroke: grey;
  fill: black;
  fill-opacity: 0.3;
}

.viewport .extent {
  fill: green;
}

.well {
  padding-top: 0px;
  padding-bottom: 0px;
}


/***** Loader *****/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3d5c94; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/***** Buttons *****/
.small_button {
  width: 58px;
  height: 42px;
  margin-left: 8px;
  margin-top: 8px;
  padding: 0px;
  float: right;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #ccc;
}

button img {
  height: 10px;
}


/* Header */
header{
  background: #3d5c94;
  color: #ffffff;
  padding-top: 15px;
  height: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
  font-family: Ubuntu, Arial;
}

header h1{
  font-size: 30px;
  margin: 0;
  padding: 0;
  float: left;
}

header a{
  color: #e2e2e2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  display: inline;
  padding: 0 20px 0 20px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #e2e2e2;
  font-weight: bold;
}

header a:hover{
  color: #fff;
  font-weight: bold;
}


/***** Side Panel *****/
#side-panel {
  position: absolute;
  top: 32px;
  left: 0px;
  bottom: 0px;
  width: 400px;
  padding: 32px;
  z-index: -1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fff;
}


/***** Main Panel *****/
#main-panel {
  position: absolute;
  top: 32px;
  left: 464px;
  right: 0px;
  bottom: 88px;
  padding: 32px;
  z-index: -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fff;
}

/* Input Forms */
.input_form {
  text-align: left;
  color: #000000;
  margin: 0px;
  padding: 0px;
}

.input_form h1{
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 32px;
  padding-bottom: 8px;
}

.input_form div{
  overflow: hidden;
}


.input_form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #d0d0d0;
}

.input_form input[type=submit] {
  background-color: #3d5c94;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  margin-bottom: 32px;
  font-size: 16px;
  cursor: pointer;
  margin-inline-end: 20px;
}



/***** Metrics *****/
#metrics {
  position: absolute;
  height: 88px;
  left: 464px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

#metrics div{
  padding: 0px;
  margin: 0px;
  padding-top: 0px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: 48px;
  margin-right: 48px;
  padding-bottom: 0px;
  width: 64px;
}

.no-pad h1{
  font-size: 64px;
  margin: 0px;
  padding: 0px;
}

.no-pad p{
  margin: 0px;
  padding: 0px;
}